* {
    margin: 0;
    padding: 0;
}

#service {
    padding: 7.5rem 4rem 5rem 4rem;

    .portfolioBody {
        width: 100%;
        max-width: 80%;
        margin: 30px auto;

        .portfolioTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h4 {
                font-size: 1rem;
                text-transform: uppercase;
                color: #ecb815;
            }

            h2 {
                font-size: 3rem;
                font-weight: 700;
                color: #212529;
            }
        }
    }

    .projects {
        .projectBlog {
            display: flex;
            justify-content: space-between; 
            flex-wrap: wrap; 

            .projectBox {
                position: relative;
                width: 50%;
                .caption {
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(0.9);
                    }

                    .captionContent {
                        position: absolute;
                        bottom: 10%;
                        left: 5%;

                        span {
                            font-size: 0.8rem;
                            text-transform: uppercase;
                            color: white;
                        }

                        p {
                            font-weight: 300;
                            font-size: 1.2rem;
                            color: white;
                            margin-top: 10px;
                        }
                    }

                    img {
                        overflow: hidden;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .projectBox{
        width: 100%!important;
        span {
            font-size: 0.4rem!important;
        }

        p {
            font-size: .6rem!important;
        }
    }
}

// @media only screen and (min-width: $md) {

// }
// @media only screen and (min-width: $lg) {

// }
// @media only screen and (min-width: $xl) {

// }
