* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    font-family: "Raleway";
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

#navbar {
    background: rgb(218, 245, 192);
    background: linear-gradient(180deg, rgba(218, 245, 192, 1) 0%, rgba(55, 190, 255, 0.8212535014005602) 57%, rgba(0, 142, 247, 0.8212535014005602) 100%);
    padding: 10px 0px;

    .navbar-header {
        .imgbox {
            width: 15%;
            height: 100%;

            img {
                width: 100%;
                cursor: pointer;
            }
        }

        .navbar-links {
            ul {
                li {
                    margin-right: 15px;

                    a {
                        color: black;
                        cursor: pointer;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#main {
    .search {
        width: 50%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        input {
            width: 80%;
            padding: 5px;
        }

        button {
            margin-top: 30px;
            width: 30%;
        }
    }

    .singer-wrapper {
        .card-img-top {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .detail {
            a {
                margin-right: 10px;
            }

            button {
                margin-right: 10px;
            }
        }
    }

    .meal-wrapper {
        .card-img-top {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .detail {
            a {
                margin-right: 10px;
            }

            button {
                margin-right: 10px;
            }
        }
    }
}

.active {
    display: block;
}

.table {
    tbody {
        .img-box {
            width: 5%;

            img {
                width: 100%;
            }
        }
    }
}

#modal {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: #fff;
        margin: 20% auto;
        padding: 20px;
        width: 70%;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: black;
    }

    .form-group {
        margin: 10px 0;
    }

    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

}